h1 {
    color: red;
}

.first {
    width: 200px;
    height: 200px;
    margin: 100px;
    font-size: large;
    border: 20px solid red;
    Background-color: blue;
    padding: 20px;
}

.second {
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 20px solid red;
    font-size: large;
    background-color: purple;
}

* {
    /* box-sizing: border-box;
    */
    margin: 0px;
    padding: 0px;
}